# Excluyendo el directorio del entorno virtual
#venv/
#driver/chrome

# Ignorar otros archivos temporales y de configuración
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.DS_Store
.idea/
.vscode/
*.log
*.tmp
Thumbs.db

